@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #1a73e8;
    --secondary-color: #f1f3f4;
    --accent-color: #34a853;
    --text-color: #202124;
    --background-color: #ffffff;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}

@media (max-width: 768px) {
    .container {
        padding: 0 20px;
    }
}

#loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure loader is above other content */
}
